<h1>My Tweet and a list of replies</h1>


		<div><%= @twee.user.email %></div>
		<div><%= @twee.post %></div>
		<div><%= Like %></div>
	
	
	<%= form_for @repli, url: tweet_replies_path(tweet_id: @twee.id), method: :post do |f| %>

    <%= f.hidden_field :tweet_id %>


<p>
    <%= f.label :reply %>
    <%= f.text_area :post %>
</p>
<%= f.submit 'Reply' %>

	<% end %>


			

<div class="buttons"><%= link_to "New Tweet", new_tweet_path %></div>