<h1>My Tweet and a list of replies</h1>


		<div><%= @twee.user.email %></div>
		<div><%= @twee.post %></div>
		<div class="buttons"><%= link_to "Edit", edit_tweet_path(id: @twee.id) %></div>
		<%= @likcount %>

		<% if @lik == nil %>
		<div class="buttons"><%= link_to "Like", tweet_likes_path(tweet_id: @twee.id), method: :post %></div>
		<% else %>
		<div class="buttons"><%= link_to "Unlike", tweet_like_path(tweet_id: @twee.id, id: @lik.id), method: :delete %></div>
		<% end %>

		<div class="buttons"><%= link_to "Back", tweets_path %></div>

	
	
	<%= form_for @repli, url: tweet_replies_path(tweet_id: @twee.id), method: :post do |f| %>

    <%= f.hidden_field :tweet_id %>


<p>
    <%= f.label :reply %>
    <%= f.text_area :post %>
</p>
<%= f.submit 'Reply' %>

	<% end %>

<% @twee.replies.each do |reply| %>

        <tr>
            <td><%= reply.user.email %></td>
            <td><%= reply.post %></td>
            <td><%= distance_of_time_in_words(Time.now, reply.updated_at.localtime) %></td>
            <td>LIKE</td>
            <td><div class="buttons"><%= link_to "Edit", edit_tweet_reply_path(tweet_id: @twee.id, id: reply.id) %></div></td>
            <td><div class="buttons"><%= link_to "Delete", tweet_reply_path(tweet_id: @twee.id, id: reply.id), method: :delete %></div></td>

        </tr>

    <% end %>
			

